.pagination {
    display: flex;
    width: 100%;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.pageNumber:hover,
.arrow:hover {
    cursor: pointer;
}

.pageNumber,
.arrow {
    padding: 8px;
    border: none;
    background: #fff;
}

.pageNumber:disabled,
.arrow:disabled {
    cursor: default;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}